*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: whitesmoke;
    align-items: center;
background-image: url(shree\ hanuman\ ram\ ram.jpg);

}
/* Responsive styles */

.navbar a{
    position: bottom;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    

}
.container{
display:flex ;

}
.card{
    height: 500px;
margin: 50p;
box-shadow: 5px, 5px 20px black;
overflow: hidden;
}

img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
}
.intro{
    height:20px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgba(27,27,27,.5);
     color: white;
}
h1{
    margin: 10px;
    font-size: 40px;

}
p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;

}
/* p controller */

span{
font-weight: bold;

}
/* span */
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom:240px;
    background:black;
}
/* card hover  */
.card:hover p{
    opacity: 1;
    visibility: visible;
}
.card:hover{
    transform: scale(1.1) rotate(-3deg);
}
/* card hover controller  */